<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.petshop.content.mapper.FavoriteMapper">

    <select id="selectFavoriteProducts" resultType="com.petshop.product.entity.Product">
        SELECT p.*
        FROM favorite f
        INNER JOIN product p ON f.product_id = p.id
        WHERE f.user_id = #{userId}
        ORDER BY f.create_time DESC
    </select>

</mapper>
